@import "tailwindcss";

@theme {
	--color-background: hsl(0 0% 100%);
	--color-foreground: hsl(222 47% 11%);

	--color-primary: hsl(222 89% 53%);
	--color-primary-foreground: hsl(0 0% 100%);

	--color-secondary: hsl(210 40% 96%);
	--color-secondary-foreground: hsl(222 47% 11%);

	--color-border: hsl(214 32% 91%);
	--color-muted: hsl(210 40% 96%);
	--color-danger: hsl(0 84% 60%);
}

@layer components {
	.input {
		@apply p-2 w-full border border-slate-200 rounded-xs focus:outline-none focus-visible:ring-blue-300 focus-visible:ring-1;
	}

	.btn {
		@apply w-full rounded-xs transition-colors duration-200 disabled:cursor-not-allowed disabled:opacity-60 p-2 text-sm font-medium;
	}
}
